In [1]:
from pandas_datareader import data
import pandas as pd

In [2]:
import fix_yahoo_finance as yf

In [3]:
yf.pdr_override()

In [4]:
start_date = '1996-05-06' #startdate를 1996년으로 설정해두면 가장 오래된 데이터부터 전부 가져올 수 있다.
tickers = ['067160.KQ', '035420.KS'] #1 아프리카tv와 네이버의 ticker(종목코드)
afreeca = data.get_data_yahoo(tickers[0], start_date)
naver = data.get_data_yahoo(tickers[1], start_date)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [5]:
afreeca

               Open     High      Low    Close  Adj Close   Volume
Date
2003-12-22   3485.0   3485.0   3485.0   3485.0     3485.0    18600
2003-12-23   3070.0   3290.0   3070.0   3070.0     3070.0  1911800
2003-12-24   3065.0   3270.0   2830.0   3000.0     3000.0   666100
2003-12-26   3000.0   3140.0   2900.0   2900.0     2900.0   342200
2003-12-29   2720.0   3030.0   2625.0   2800.0     2800.0   707000
2003-12-30   2830.0   2930.0   2815.0   2835.0     2835.0   304300
2004-01-02   2860.0   2925.0   2775.0   2780.0     2780.0   306000
2004-01-05   2785.0   2920.0   2780.0   2850.0     2850.0   630700
2004-01-06   2870.0   2890.0   2610.0   2695.0     2695.0   259400
2004-01-07   2615.0   2690.0   2400.0   2400.0     2400.0   324500
2004-01-08   2410.0   2475.0   2115.0   2120.0     2120.0   274400
2004-01-09   2110.0   2370.0   1925.0   2170.0     2170.0   623200
2004-01-12   2200.0   2200.0   2060.0   2080.0     2080.0   382200
2004-01-13   2200.0   2325.0   2170.0   2325.0     2325.0  1215000
2004-01-14   2385.0   2575.0   2295.0   2320.0     2320.0  1375400
2004-01-15   2395.0   2395.0   2045.0   2060.0     2060.0   487300
2004-01-16   2060.0   2150.0   2030.0   2050.0     2050.0   250600
2004-01-19   2060.0   2120.0   2000.0   2100.0     2100.0   265500
2004-01-20   2070.0   2120.0   2010.0   2090.0     2090.0   183200
2004-01-26   2100.0   2160.0   2060.0   2140.0     2140.0   188800
2004-01-27   2185.0   2280.0   2150.0   2155.0     2155.0   343100
2004-01-28   2190.0   2215.0   1960.0   1985.0     1985.0   245700
2004-01-29   2000.0   2095.0   1930.0   2025.0     2025.0   253700
2004-01-30   2040.0   2105.0   1990.0   2040.0     2040.0   195900
2004-02-02   2080.0   2215.0   2050.0   2150.0     2150.0   481400
2004-02-03   2155.0   2175.0   2030.0   2055.0     2055.0   159700
2004-02-04   2030.0   2110.0   2025.0   2095.0     2095.0   196500
2004-02-05   2090.0   2275.0   2070.0   2250.0     2250.0   537700
2004-02-06   2210.0   2345.0   2180.0   2200.0     2200.0   428800
2004-02-09   2235.0   2250.0   2160.0   2220.0     2220.0   152800
...             ...      ...      ...      ...        ...      ...
2017-12-18  19100.0  19450.0  18700.0  19400.0    19400.0    91855
2017-12-19  19500.0  19550.0  19000.0  19400.0    19400.0    67043
2017-12-21  19050.0  19250.0  18350.0  18350.0    18350.0    75779
2017-12-22  18500.0  19350.0  18450.0  19250.0    19250.0    60847
2017-12-26  19300.0  19350.0  18600.0  18700.0    18700.0    58971
2017-12-27  18700.0  19250.0  18550.0  19050.0    19050.0    53733
2017-12-28  19100.0  19350.0  18900.0  19200.0    19200.0    62568
2018-01-02  19500.0  19600.0  19250.0  19400.0    19400.0    36146
2018-01-03  19500.0  19500.0  19200.0  19400.0    19400.0    48943
2018-01-04  19700.0  20350.0  19450.0  20100.0    20100.0   188080
2018-01-05  20400.0  21650.0  20250.0  21100.0    21100.0   315134
2018-01-08  21450.0  21450.0  20450.0  21000.0    21000.0   162910
2018-01-09  21000.0  21000.0  19700.0  20450.0    20450.0   117744
2018-01-10  20450.0  20550.0  20000.0  20250.0    20250.0    62340
2018-01-11  20200.0  20250.0  19400.0  19450.0    19450.0   222497
2018-01-12  19450.0  19700.0  19100.0  19300.0    19300.0    77775
2018-01-15  19450.0  19650.0  19350.0  19500.0    19500.0    50822
2018-01-16  19550.0  19550.0  19050.0  19400.0    19400.0    57156
2018-01-17  19500.0  19950.0  19100.0  19850.0    19850.0    98573
2018-01-18  20100.0  20200.0  19900.0  20050.0    20050.0    53653
2018-01-19  20150.0  20250.0  19900.0  20000.0    20000.0    30628
2018-01-22  20300.0  20450.0  19850.0  20350.0    20350.0    86404
2018-01-23  20500.0  20900.0  20200.0  20550.0    20550.0    88751
2018-01-24  20600.0  20750.0  20300.0  20450.0    20450.0    61662
2018-01-25  20450.0  20750.0  20400.0  20600.0    20600.0    62106
2018-01-26  20700.0  21000.0  20600.0  20850.0    20850.0    65852
2018-01-29  21300.0  22600.0  21150.0  22200.0    22200.0   385444
2018-01-30  21950.0  23000.0  21800.0  22700.0    22700.0   290896
2018-01-31  22300.0  23250.0  22100.0  22100.0    22100.0   221481
2018-10-23  35100.0  35950.0  34750.0  35300.0    35300.0    54981

[3471 rows x 6 columns]

In [1]:
kosdaq = pd.read_pickle('./kosdaq.pickle')
kospi = pd.read_pickle('./kospi.pickle')

In [2]:
kosdaq.head()

   kor_name  ticker
0     제일홀딩스  003380
1  하나금융9호스팩  261200
2    교보7호스팩  267320
3      보라티알  250000
4    한화수성스팩  265920